*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;   
}
body{
    height: 750px;
    font-family: 'Times New Roman', Times, serif;
}
.head-paragraph {
    padding-top: 30px;
    text-align: center;
    font-weight: 700;
}
.head-paragraph p{
    font-size: 22px;
}

.products-box-wrapper{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;

}
button{
    height: 30px;
    font-size: 15px;
    border-radius: 5px;
    font-weight: 600;
    width: 90px;
    color: white;
    background-color: red;
}
.products-box{
    display: flex;
    justify-content: space-between;
    width: 80%;
    background-color: black;
    margin: 20px;
    color: white;
    border-radius: 10px;
}
ul {
    list-style-position: inside;
    font-size: 20px;
    padding: 20px;
}
.category-list{
    display: flex;
    width: 80%;
    align-items: center;
    justify-content: center;
}
.products-list{
    padding: 30px;
    display: flex;
    flex-wrap: wrap;
   
}
.category-name-box span{
    font-size: 36px;
    text-align: center;
    
}
.category-name-box{
    display: flex;
    font-weight: 900;
    background-color: red;
    margin: 40px;
    width: 200px;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
}
li{
    padding-left: 20px;
    line-height: 1.5;
}
/*MEDIUM BODY*/
@media(max-width:900px){
    .products-box{
        display: flex;
        justify-content: center;
        width: 80%;
        padding: 0PX;
    }
    ul{
        display: flex;
        justify-content: end;
        font-size: 20px;
    }
    .category-name-box{
        width: 20%;
    }
    .category-name-box span{
        font-size: 20px;
        text-align: center;
        
    }
    .category-name-box{
        margin: 20px;
    }
    .head-paragraph{
        padding: 40px;
    }
}


/*SMALL BODY*/
@media(max-width:600px){
    .products-box{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    ul{
        display: flex;
        flex-direction: column;
        font-size: 15px;
    }
    .category-name-box{
        width: 80%;
    }
    .category-name-box span{
        font-size: 30px;
        text-align: center;
        
    }
}